<a href="https://colab.research.google.com/github/Anaju7/Aulas_Python/blob/main/AULA_06_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tratamentos de erros e exceções



*   NameError: variável não definida
*   TypeError: tipos de dados incompatíveis
*   RunTimeError: erro de execução
*   SyntaxError: sintaxe digitada é inválida e não reconhecida pelo interpretador
*   ZeroDivisonError: divisão por zero
*   IndexError: índice está fora da coleção

## Tipos de erros

In [ ]:
3 = 4

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-1-effb9ca1a7d0>, line 1)

In [ ]:
print('Meu nome é', nome)

NameError: name 'nome' is not defined

In [ ]:
print(3/0)

ZeroDivisionError: division by zero

In [ ]:
2.3 / 'cachorro'

TypeError: unsupported operand type(s) for /: 'float' and 'str'

In [ ]:
c = [1, 2, 3, 4, 5]

c

[1, 2, 3, 4, 5]

In [ ]:
c[5]

IndexError: list index out of range

## Tratamento de erros

In [ ]:
try: #tentar
  n = int(input('Digite um número inteiro: '))
except:
  print('Valor inválido!')

else:
  print('Valor digitado foi: ', n)

Digite um número inteiro: 6
Valor digitado foi:  6

In [ ]:
while True:
  try:
    n = int(input('Digite um número inteiro: '))
  except:
    print('Valor inválido!')
  else:
    print('Valor digitado foi: ', n)
    break

Digite um número inteiro: t
Valor inválido!
Digite um número inteiro: h
Valor inválido!
Digite um número inteiro: 6
Valor digitado foi:  6

In [ ]:
while True:
  try:
    n = int(input('Digite um número inteiro: '))
  except KeyboardInterrupt:
    print('Usuáro interrompeu a execução!')
    break
  except ValueError:
    print('Erro de tipo!')

  else:
    print('Valor digitado foi: ', n)
    break

Digite um número inteiro: h
Erro de tipo!
Usuáro interrompeu a execução!

## Exercício 1

Crie uma lista vazia e faça a leitura de dois valores do tipo float, colocando cada um dos valores nas primeiras posições da lista (o valor1 ficará na posição 0 da lista e o valor2 ficará na posição 1 da lista). Faça a divisão dos dois valores e trate as seguintes exceções
- ValueError: se o usuário digitar um caracter
- ZeroDivisionError: se o usuário digitar zero e ocorrer erro na divisão
- IndexError: caso a divisão seja feita levando em consideração posições que não existem na lista
- KeyboardInterrupt: caso o usuário interrompa a execução

Mostra uma mensagem personalizada na ocorrência de cada um desses erros

In [ ]:
lista = []

try:
  lista.append(float(input('Digite o primeiro valor: ')))
  lista.append(float(input('Digite outro valor: ')))

  divisao = lista[0] / lista[1]
except ValueError:
  print('Erro! Valor inválido!')
except ZeroDivisionError:
  print('Erro! Divisão por zero.')
except IndexError:
  print('Erro! Indice não é válido.')
except KeyboardInterrupt:
  print('Usuáro interrompeu a execução!')
else:
  print('A divisão é: ', divisao)

Usuáro interrompeu a execução!

# Expressões regulares

## Função search

In [ ]:
import re

In [ ]:
frase = 'O número que me ligou ontem foi o (55)94002-8922'

In [ ]:
re.search('\(\d{2}\)\d{4,5}-\d{4}' , frase)

In [ ]:
frase2 = 'O carro que passou por cima do cachorro tem a placa pqR-3033'

In [ ]:
re.search('[A-Za-z]{3}-\d{4}', frase2)

In [ ]:
email = 'Fale com Gabi pelo email gabi123@teste.com'

In [ ]:
re.search('\w+@\w+\.com',email)

## Função Match

In [ ]:
frase = 'A placa de carro que eu anotei durante a batida foi FRT-1996'

In [ ]:
print(re.match('[A-Za-z]{3}-\d{4}', frase))

None

In [ ]:
frase2 = 'ABC-1984 é a placa do carro que bateu em Clara'

In [ ]:
print(re.match('[A-Za-z]{3}-\d{4}', frase2))

<re.Match object; span=(0, 8), match='ABC-1984'>

## Função findall

In [ ]:
frase3 = 'Meu número de telefone atual é (42)33345-9875. O número (81)97534-1221 é o antigo. O (81)97534-1221 pertence a outra pessoa agora.'

In [ ]:
re.findall('\(\d{2}\)\d{4,5}-\d{4}', frase3)

['(42)33345-9875', '(81)97534-1221', '(81)97534-1221']

In [ ]:
email= 'teste1@teste.com, teste2@teste.com, teste3@teste.com.br'

In [ ]:
re.findall('\w+@\w+\.\w+\.?\w+', email)

['teste1@teste.com', 'teste2@teste.com', 'teste3@teste.com.br']

### 1. Exercícios

Crie expressões regulares para extrair as seguintes informações do texto abaixo (use a função findall):
- Números
- CEPs
- URLs


### 2.Questão sobre validação de senhas:
Imagine que você está desenvolvendo um sistema de cadastro de usuários e precisa validar as senhas inseridas pelos usuários. As regras para uma senha válida são as seguintes:
1. Deve conter pelo menos 8 caracteres.
2. Deve conter pelo menos uma letra maiúscula.
3. Deve conter pelo menos uma letra minúscula.
4. Deve conter pelo menos um dígito (número).
5. Pode conter caracteres especiais, como "@", "#", "$", "%", etc.

Crie uma expressão regular que valide senhas de acordo com essas regras. Por exemplo, a senha "Abc12345" seria válida, mas "senha" não seria.

Dica: Você pode usar grupos de captura para verificar cada uma das condições acima.

### 3. Exercício: Extração de Dados de uma URL

1. **Definição da Função Extrair Dados**
   - Crie uma função chamada `extrair_dados_url` que utilize expressões regulares para extrair o protocolo, o domínio e o caminho de uma URL.
   - A URL pode seguir os seguintes formatos:
     - `http://example.com/path/to/page`
     - `https://www.example.com`
     - `ftp://files.example.com/downloads`
     - `http://subdomain.example.co.uk/path`

In [ ]:
# Testando a função
senhas = ["Abc12345", "senha", "12345678", "Abcdefgh", "ABCDEFGH", "abcdefgh", "Ab1@", "Abc@1234"]